---
import BaseLayoutAbout from "../../layouts/BaseLayoutAbout.astro";
const pageTitle = "Résidences"
---
<BaseLayoutAbout pageTitle={pageTitle}>
  <div class="residences">
  <p>Service Civique à la Maison d'Edition d'Idées à la Villeneuve, Grenoble. <br>
    Janvier 2020-Septembre 2020 <br>
    <br>
    Résidence à la Citadellarte avec la fondation Pistoletto à Biella, Italie. <br>
    Workshop auprès de Brett Bloom. <br>
    Juillet 2019 <br>
    <br>
    Résidence à la Maison d'Edition d'Idées à la Villeneuve, Grenoble. <br>
    Mars 2019</p>
  </div>
</BaseLayoutAbout>
