---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Éditions";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="double-colonne">
    <div class="colonne">
      <div class="edition">
        <img src="/public/img/editions/couverture-camp.jpg" alt="Couverture À Propos du Camp Français, s'il en est">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/a-propos-du-camp-francais-s-il-en-est">À Propos du Camp Français, s'il en est</a></h3>
          <p class="italic">Livre dos carré collé à la main, 2021</p>
          <p>Initié par le besoin d'auto-identification et de connexion à une culture qui est traditionnellement
            semi-obscure, ce mémoire se concentre sur le sujet du « camp » comme forme de sensibilité queer, pour
            essayer d’établir un panorama des déviances de genre dans la culture française récente.
            <br><br>
            À travers un processus approfondi de recherche et de mobilisation de l'expérience vécue, il
            explore les relations étroites entre l'art et l'activisme, et comment les normes sociales et
            la répression de la diversité des genres se traduisent dans certaines formes d'art.
            Analysant les liens entre la performance et la performativité du genre, ce mémoire traite des
            identités marginalisées qui constituent le noyau de la culture queer : folles, butchs, trans,
            travestis ...
            Cependant, les limites de cette sensibilité sont également examinées, en particulier leur
            propension au sexisme et leurs dimensions colonialistes.
            <br><br>
            Ce mémoire comprend des traductions originales auxquelles le texte fait référence, ainsi que des analyses
            de films et de chansons, afin de mettre en lumière des formes de culture qui sont considérées comme moindres,
            mais qui constituent de fait une sorte d'héritage, et permettent de mener une plus grande critique des politiques
            identitaires et de la représentation médiatique queer.</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/martine.jpg" alt="Couverture Les Nouvelles Aventures de Martin.e">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/les-nouvelles-aventures-de-martin-e">Les Nouvelles Aventures de Martin·e</a></h3>
          <p class="italic">Brochure agraphée, 2019
            <br>En collaboration avec la maison d'édition <a href="https://enfanzine.org" class="italic">Enfanzine</a></p>
          <p>Comment penser de nos jours les albums qui ont accompagnés notre enfance, sans avoir en tête
            leurs milliers de détournements ? Ici, Martin.e voit son prénom dé-genré, annonçant des aventures queer,
            féministes, mais aussi antispécistes, anticapitalistes et antifascistes…</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/bout-doigts.jpg" alt="Couvertures Du Bout des Doigts #1 #2 #3">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/du-bout-des-doigts-porno-a-gratter">Du Bout des Doigts - Porno à gratter</a></h3>
          <p class="italic">Éditions reliées au fil, 2019</p>
          <p>En capturant des moments que l'on croit volés, on s'introduit par le regard dans un moment
             solitaire et sensé être caché. La censure vient nous dicter ce qui doit être vu ou non,
              quelles parties érotisées ou non, dans une pratique d'un jeu enfantin de gratter au petit bonheur
              la chance.</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/jeux-a-moi.jpg" alt="Couverture Mes jeux à moi, c'est ça">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/mes-jeux-a-moi-c-est-ca">Mes Jeux à Moi, c'est ça</a></h3>
          <p class="italic">Éditions reliées au fil, 2018</p>
          <p>Parler de BDSM avec des enfants, est-ce possible ? Volonté de partager une activité sans tabou,
            comme on parlerait d'une passion ou d'un hobby, en introduisant les thème du consentement et du
            soin de soi.</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/troisiemex.jpg" alt="Couverture À Propos du Troisième X">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/a-propos-du-troisieme-x">À Propos du Troisième X</a></h3>
          <p class="italic">Brochure pliée, 2018.</p>
          <p>Texte d’argumentation politique analysant les rapports entre la sexualité et la sobriété radicale,
          aussi appelée “straight edge”, dans une perspective queer et sex-positive.</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/bandana.jpg" alt="Couverture Le Code du Bandana">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/le-code-du-bandana">À Propos du Troisième X</a></h3>
          <p class="italic">Brochure agraphée, 2018.</p>
          <p>Se rendre invisible aux yeux de la norme nous a permis de survivre et de former des communautés.
             Je veux n'être sexy que pour celles qui peuvent me décoder. Refuser la compréhension cisgenre et hétérosexuelle.
             Devenir-camp.
          </p>
        </div>
      </div>
    </div>
    <div class="colonne">
      <div class="edition">
        <img src="/public/img/editions/toucher.jpg" alt="Couverture Toucher">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/toucher">Toucher</a></h3>
          <p class="italic">Édition agraphée, 2019.
            <br>En collaboration avec la maison d'édition <a href="https://enfanzine.org" class="italic">Enfanzine</a></p>
          <p>Toucher des choses, se toucher soi, toucher les autres, être à la fois dans l'utilité,
             le plaisir et le consentement. À lire en s'étant lavé les mains !</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/nudes.jpg" alt="Images Nudes Postaux">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/nudes-postaux">Nudes Postaux</a></h3>
          <p class="italic">Cartes Postales, 2019.</p>
          <p>Des cartes qui ne passeraient sûrement pas par la poste,
             à mi-chemin entre le souvenir de vacances et la carte érotique du début du siècle.
              Le nude, désormais numérique, revient s'encrer sur du papier</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/faire-part.jpg" alt="Faire-Part de Naissance Trans déplié">
        <div class="description">
          <h3><a href="http://www.editionslesgrillages.com/product/faire-part-de-naissance-trans">Faire-Part de Naissance Trans</a></h3>
          <p class="italic">Cartes et enveloppes, 2019.</p>
          <p>Le coming-out est souvent assimilé à une nouvelle naissance. En parlant de la tradition du faire-part,
            il s'agit de les détourner en faire-parts queer, pour se représenter, ou pour annoncer une naissance
            sans imposer un genrage arbitraire. Acte d'annonce qui se veut léger mais incisif dans une volonté
            radicale d'auto-détermination.
            <br>
            L'intérieur des lettres est un texte argumentatif/poétique qui démonte les questions toutes faites
            posées aux personnes trans. Existe avec les pronoms "il", "elle", et "iel". Une version est également
            à destination des parents ne souhaitant pas genre leur enfant à naître, sur le même principe.</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/garçon-ou-fille.jpg" alt="Couverture T'es un Garçon ou une Fille ?">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/t-es-un-garcon-ou-une-fille">T'es un Garçon ou une Fille ?</a></h3>
          <p class="italic">Édition reliure agraphée, 2018.
            <br>En collaboration avec la maison d'édition <a href="https://enfanzine.org" class="italic">Enfanzine</a></p>
          <p>Que communiquer à des enfants ? Ou plutôt, qu’est-ce que j’aurais aimé que
             l’on me dise étant enfant ? Une édition sur les possibilités qui peuvent fleurir
              de la créativité de genre.</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/rien-sang.jpg" alt="Couverture C'est Rien que du Sang">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/c-est-rien-que-du-sang">C'est Rien que du Sang</a></h3>
          <p class="italic">Brochure pliée, 2018.</p>
          <p>Texte politique-personnel, tract poésie sur le rapport au sang, sa perte, son don.</p>
        </div>
      </div>
      <div class="edition">
        <img src="/public/img/editions/sorciere.jpg" alt="Coffret Sorcières avec poster déplié">
        <div class="description">
          <h3><a href="https://www.editionslesgrillages.com/product/coffret-sorcieres">Coffret Sorcières</a></h3>
          <p class="italic">Brochure cousue, 2017.</p>
          <p>Le coffret est un travail en trio de personnes s'identifiant à des sorcières,
            pour constituer un manuel d'auto-gynécologie des règles, un grimoire de plantes
            médicinales et une traduction inédite d'un texte féministe.</p>
        </div>
      </div>
      <div class="editions-bientot">
        <h2>Autres Éditions</h2>
        <h3><a href="https://enfanzine.org/produit/fee">Je suis une fée</a></h3>
        <p>Disponible chez <a href="https://enfanzine.org/">Enfanzine</a></p>
          <h3><a href="https://www.editionslesgrillages.com/">Brouillon pour un dictionnaire des amant·es</a></h3>
          <p>Bientôt disponible aux <a href="https://www.editionslesgrillages.com/">Éditions Les Grillages</a></p>
          <h3><a href="https://enfanzine.org/">Sous mon masque</a></h3>
          <p>Bientôt disponible chez <a href="https://enfanzine.org/">Enfanzine</a></p>
      </div>
    </div>
  </div>
</BaseLayout>

<style>

  .double-colonne{
    display: flex;
    justify-content: space-between;
  }
  .colonne{
    max-width: 45%;
  }
  .edition{
    margin-bottom: 2em;
  }
  img{
    width: 100%;
    margin-bottom: 0.5em;
  }
  a:hover{
    color: rgba(255, 232, 0, 1);
  }
  .italic{
    font-family: 'Rubik Italic';
  }
  .editions-bientot{
    display: flex;
    flex-direction: column;
  }

</style>
