---
import BaseLayoutAbout from "../layouts/BaseLayoutAbout.astro";
const pageTitle = "Éducation";
---
<BaseLayoutAbout pageTitle={pageTitle}>
  <div class="cv">
    <p>Diplôme National Supérieur d'Expression Plastique,félicitations du jury<br>
    Ecole Supérieure d'Art et Design Grenoble (38, France)<br>
    2019-2021<br>
    <br>
    Diplôme National d'Arts, félicitations du jury<br>
    Ecole Supérieure d'Art et Design Grenoble (38, France)<br>
    2016-2019<br>
    <br>
    DEUG Lettres Modernes<br>
    Université Grenoble Alpes (38, France)<br>
    2013-2015<br>
    <br>
    Bac Littéraire, section européenne anglais, mention Bien<br>
    Lycée Ambroise Croizat, Moutiers (73, France)<br>
    2013</p>
  </div>
</BaseLayoutAbout>
