---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Enseignement"
---
<BaseLayout pageTitle={pageTitle}>
  <h2 class="outils">Ressources pédagogiques et outils développés à travers l'exercice d'une activité de professeur
    contractuel en Arts Plastiques et en Arts Appliqués depuis janvier 2021</h2>
  <div class="outils-art-pla">
      <div class="outil-descriptif">
        <p>Outils Numériques en Arts Plastiques <br>
        <br>
        Mini-site regroupant des outils et des tutoriels (écrits et/ou filmés) de manipulation numériques
        et artistiques.</p>
        <div class="telechargement">
          <a href="https://view.genial.ly/622cad9e97baa9001a214ff4/guide-outils-numeriques-arts-plastiques"><img src="src/img/lien.jpg" alt="image logo lien" class="logo"></a>
          <a href="https://view.genial.ly/622cad9e97baa9001a214ff4/guide-outils-numeriques-arts-plastiques">Lien vers le site</a>
        </div>
      </div>
    <img src="src/img/enseignement/outils-numériques-arts-pla.jpg" alt="Capture d'écran du mini site" class="capture">
  </div>
    <div class="outils-art-pla">
      <div class="outil-descriptif">
        <p>Frise chronologique des principaux mouvements artistiques occidentaux <br>
        <br>
        Affichage en classe en trois parties format A3, réalisé en constatant que le matériel
        pédagogique vendu aux enseignants ne comportait que des artistes hommes. Les frises
        sont composées uniquement d'artistes femmes.</p>
        <div class="telechargement">
          <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
          <p>Pdf des posters</p>
        </div>
      </div>
        <div class="capture">
          <img src="src/img/enseignement/poster-art-contemporain.jpg" alt="Poster Art Contemporain" id="img1" class="image">
          <img src="src/img/enseignement/poster-art-ancien.jpg" alt="Poster Art Ancien" id="img2" class="image">
          <img src="src/img/enseignement/poster-art-moderne.jpg" alt="Poster Art Moderne" id="img3" class="image">
        </div>
    </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Frise chronologique simplifiée de l'histoire du design occidental <br>
            <br>
            Affichage en classe en dix parties format A3 pour des époques marquantes de l'histoire du
            design, avec des éléments de design graphique, d'objet, et d'espace qui ont pour vocation
            d'être associés à leur période en classe.
            </p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf de la frise</p>
            </div>
        </div>
          <div class="capture">

          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Poster du cercle chromatique à assembler, avec les notions de couleurs primaires,
            secondaires, tertiaires, complémentaires, analogues, chaudes, froides.
            </p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/cercle-chroma.jpg" alt="Cercle Chromatique" id="img1" class="image">
          <img src="src/img/enseignement/cercle-chroma-noms.jpg" alt="Noms des couleurs du cercle chromatique" id="img2" class="image">
          <img src="src/img/enseignement/cercle-chroma-primaires.jpg" alt="Couleurs primaires, secondaires, complémentaires" id="img3" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Poster sur les valeurs de gris avec les notions de contraste fort et contraste faible,
             et des exemples d'ombrages comme les hachures parallèles, croisillons, pointillés et le dégradé.
            </p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/poster-valeurs-gris-ombrages.jpg" alt="Valeur de Gris et Ombrages" id="img1" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Poster sur le vocabulaire du cadrage, avec différentes prises de vues, plans et mouvements.
            </p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/vocabulaire-cadrage.jpg" alt="Poster vocabulaire du cadrage" id="img4" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Poster sur le vocabulaire de la bande dessinée</p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/vocabulaire-bd.jpg" alt="Vocabulaire de la bande-dessinée" id="img5" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Livret d'activités sur l'Art Pariétal (16p.)</p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/livret-sortie-préhisto.jpg" alt="Couverture livret d'activités d'une sortie préhistorique" id="img6" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Poster des phrases interdites en classe</p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/phrases-interdites.jpg" alt="Phrases interdites en classe" id="img5" class="image">
          <img src="src/img/enseignement/phrases-interdites-classe.jpg" alt="Phrases interdites en classe" id="img7" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Fiche de Vie de Classe : Bilan de mi-année sur les ressentis et objectifs de l'élève,
             son opinion de la classe et un espace de proposition de solutions.</p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/bilan-mi-annee.jpg" alt="Page 1 du document de bilan de mi-année" id="img1" class="image">
          <img src="src/img/enseignement/bilan-mi-annee2.jpg" alt="Page 2 du document de bilan de mi-année" id="img3" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif">
          <p>Activité de Vie de Classe : Mini-carnet d'agent secret pour apprendre à connaitre ses camarades de classe.
             L'élève mène l'enquête en secret, et les infos sont restituées en classe où les élèves cherchent à découvrir
              de qui il s'agit grâce aux infos récoltées.</p>
            <div class="telechargement">
              <img src="src/img/downloadlogo.jpg" alt="logo de téléchargement" class="logo">
              <p>Pdf</p>
            </div>
        </div>
          <div class="capture">
          <img src="src/img/enseignement/agent-secret.jpg" alt="Page de garde du livret d'activité de vie de classe" id="img8" class="image">
          <img src="src/img/enseignement/agent-secret2.jpg" alt="Pages intérieures du livret d'activité de vie de classe" id="img9" class="image">
          </div>
      </div>
      <div class="outils-art-pla">
        <div class="outil-descriptif-bis">
          <p>Exposition pour le 17, Journée Internationale contre l'homophobie et la transphobie<br>
          Conception de visuels, d'installations pédagogiques et participatives. Frise chronologique
          des droits LGBTI+, panorama d'icones d'hier et d'aujourd'hui, questions/réponses via une boite
          à questions anonyme mise en place quelques semaines auparavant.</p>
          <img src="src/img/enseignement/17mai.jpg" alt="Visuel 17mai" class="image1">
        </div>
          <div class="square">
          <img src="src/img/enseignement/expo1.jpg" alt="Photo d'une partie de l'expo" class="image1">
          <img src="src/img/enseignement/expo2.jpg" alt="Photo d'une partie de l'expo" class="image1">
          <img src="src/img/enseignement/expo3.jpg" alt="Photo d'une partie de l'expo" class="image1">
          <img src="src/img/enseignement/portail-craie.jpg" alt="Photo d'une partie de l'expo" class="image1">
          </div>
      </div>
</BaseLayout>

<style>
.outils-art-pla{
  margin-top: 3em;
  margin-bottom: 5em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
  "texte image";
}

.outils{
  grid-area: h2;
  text-align: justify;
}

.outil-descriptif{
  grid-area: texte;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1em;
}

.capture{
  grid-area: image;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.telechargement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 50px;
}

.image{
  width: 140px;
}
#img1{
  position: absolute;
  transform: rotate(10deg) translate(-3em);
}
#img2{
  position: absolute;
  transform: rotate(-10deg) translate(0em, 3em);
}
#img3{
  position: absolute;
  transform: rotate(5deg) translate(5em, 1em);
}
#img4{
  width: 220px;
  transform: rotate(-5deg) translate(0em, 2em);
}
#img5{
  position: absolute;
  width: 300px;
  transform: rotate(10deg) translate(-5em, -3em);
}
#img6{
  transform: translate(0em, -3em);
}
#img7{
  position: absolute;
  width: 300px;
  transform: translate(5em, -5em);
  z-index: -2;
}
#img8{
  width: 250px;
  transform: rotate(5deg);
}
#img9{
  width: 250px;
  transform: rotate(-5deg) translate(-2em);
  z-index: -2;
}

.outil-descriptif-bis{
  grid-area: texte;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  gap: 1em;
}

.square{
  grid-area: image;
  max-width: 150%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.image1{
  width: 160px;
}

</style>
