---
import BaseLayoutAbout from "../layouts/BaseLayoutAbout.astro";
const pageTitle = "Expositions"
---
<BaseLayoutAbout pageTitle={pageTitle}>
  <div class="expos">
  <p>Cabinet de Queeriosité-e-s, exposition d'art queer et salon de micro-édition<br>
    Montage et exposition.<br>
    Novembre 2021<br>
    <br>
    Microsaloon, 5ème salon de la petite édition de Grenoble<br>
    Participation<br>
    Juin 2019<br>
    <br>
    QUEERMESS, en collaboration avec le Festival Vues d'en Face, Grenoble <br>
    Montage et exposition <br>
    Mars 2019 <br>
    <br>
    Le Pronom que je préfère est la négation, avec le Festival Vues d'en Face, Grenoble <br>
    Exposition <br>
    Mars 2018</p>
  </div>
</BaseLayoutAbout>
