---
import BaseLayoutWithoutNav from "../layouts/BaseLayoutWithoutNav.astro";
---
<BaseLayoutWithoutNav>
  <div class="container">
    <p>Edition • Montage d'expositions et de spectacles • Recherche scientifique • Prévention en santé sexuelle
    • Ateliers • Communication • Conférences • Histoire de l'art • Encadrement d'enfants • Animation
    • Design graphique • Community Management • Théorie féministe et queer • Enseignement • Performance
    • Nail Art • Poésie • Drag • Montage vidéo • Couture • Linogravure • Conte • Maquillage • Fanzine
    • Formations sur les discriminations sexistes et LGBTIphobes • Risographie • Traduction et interprétariat anglais, espagnol, français
    • Cyanotypes • Sérigraphie • Accompagnement juridique CEC • Médiation culturelle • Évènements • Edition • Montage d'expositions et de spectacles
    • Recherche scientifique • Prévention en santé sexuelle • Ateliers • Communication • Conférences • Histoire de l'art • Encadrement d'enfants • Animation
    • Design graphique • Community Management • Théorie féministe et queer • Enseignement • Performance • Nail Art • Poésie • Drag
    • Montage vidéo • Couture • Linogravure • Conte • Maquillage • Fanzine • Formations sur les discriminations sexistes et LGBTIphobes
    • Risographie • Traduction et interprétariat anglais, espagnol, français • Cyanotypes • Sérigraphie
    • Accompagnement juridique CEC • Médiation culturelle • Évènements • Edition • Montage d'expositions et de spectacles
    • Recherche scientifique • Prévention en santé sexuelle • Ateliers • Communication • Conférences
    • Histoire de l'art • Encadrement d'enfants • Animation • Design graphique • Community Management
    • Théorie féministe et queer • Enseignement • Performance • Nail Art • Poésie • Drag
    • Montage vidéo • Couture • Linogravure • Conte • Maquillage • Fanzine • Formations sur les discriminations sexistes et LGBTIphobes
    • Risographie • Traduction et interprétariat anglais, espagnol, français • Cyanotypes • Sérigraphie • Accompagnement juridique CEC
    • Médiation culturelle • Évènements • Edition • Montage d'expositions et de spectacles • Recherche scientifique
    • Prévention en santé sexuelle • Ateliers • Communication • Conférences • Histoire de l'art • Encadrement d'enfants
    • Animation • Design graphique • Community Management • Théorie féministe et queer • Enseignement • Performance
    • Nail Art • Poésie • Drag • Montage vidéo • Couture • Linogravure • Conte • Maquillage • Fanzine
    • Formations sur les discriminations sexistes et LGBTIphobes • Risographie
    • Traduction et interprétariat anglais, espagnol, français • Cyanotypes • Sérigraphie
    • Accompagnement juridique CEC • Médiation culturelle • Évènements • Edition • Montage d'expositions et de spectacles
    • Recherche scientifique • Prévention en santé sexuelle • Ateliers • Communication • Conférences • Histoire de l'art
    • Encadrement d'enfants • Animation • Design graphique • Community Management • Théorie féministe et queer
    • Enseignement • Performance • Nail Art • Poésie • Drag • Montage vidéo • Couture • Linogravure • Conte
    • Maquillage • Fanzine • Formations sur les discriminations sexistes et LGBTIphobes • Risographie
    • Traduction et interprétariat anglais, espagnol, français • Cyanotypes • Sérigraphie • Accompagnement juridique CEC
    • Médiation culturelle • Évènements • Edition • Montage d'expositions et de spectacles • Recherche scientifique
    • Prévention en santé sexuelle • Ateliers • Communication • Conférences • Histoire de l'art
    • Encadrement d'enfants • Animation • Design graphique</p>
    <div class="btn"><a href="/info/info.astro/">ENTRER</a></div>
  </div>

</BaseLayoutWithoutNav>

<style>
  a{
    font-family: "Rubik Mono One";
  }
  p{
    font-family: 'Rubik-VariableFont';
    font-weight: 450;
    font-size: 1em;
  }
  .container{
    position: relative;
    display: grid;
    place-items: center;
  }
  .btn{
    position: absolute;
    background-color: #494949b1;
    color: rgba(255, 232, 0, 1);
    font-size: 1.5em;
    padding: 1%;
    border: 2px rgba(255, 232, 0, 1) solid;
    border-radius: 10%;
    width: fit-content;
    visibility: hidden;
  }
  .container:hover p{
    filter: blur(4px);
  }
  .container:hover .btn{
    visibility: visible;
  }

</style>
