---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Vidéos"
---
<BaseLayout pageTitle={pageTitle}>
  <div class="video">
    <img src="img/videos/hors-les-murs.jpg" alt="Capture d'écran de la vidéo Hors les Murs" class="image">
    <p>Hors les murs, 2020</p>
  </div>
  <div class="video">
    <img src="img/performances/ionf.jpg" alt="Capture d'écran de la performance sur Ionf" class="image">
    <p>Fanclip de Lapsuceur - Ionf, soirée Glam Confinée, 2020</p>
  </div>
  <div class="video">
    <img src="img/performances/freestyle-drill.jpg" alt="Capture d'écran de la performance sur Freestyle Drill" class="image">
    <p>Fanclip de Lapsuceur - Freestyle drill, soirée Glam Confinée, 2020</p>
  </div>
  <div class="video horizontal">
    <img src="img/performances/el-telefono.jpg" alt="Capture d'écran de la performance d'El Telefono" class="image" id="lateral-gauche">
    <p>El telefono, avec Alex Sucker, soirée Glam Confinée, 2020</p>
  </div>
  <div class="video">
    <img src="img/performances/berges-grises.jpg" alt="Capture d'écran de la performance Le Long des Berges Grises" class="image">
    <p>Le long des berges grises, soirée Cabaroke au Musée de la Résistance et de la Déportation de l'Isère, Grenoble, 2020</p>
  </div>
  <div class="video">
    <img src="img/videos/les-friches.jpg" alt="Capture d'écran de la vidéo Les Friches" class="image">
    <p>Les Friches, 2019</p>
  </div>
  <div class="video">
    <img src="img/performances/medley.jpg" alt="Capture d'écran de la performance Medley de chanson française" class="image">
    <p>Medley de chanson française, soirée OUTRAGE, Lyon, 2019</p>
  </div>
  <div class="video">
    <img src="img/videos/la-canicule.jpg" alt="Capture d'écran de la vidéo La Canicule" class="image">
    <p>La Canicule, 2019</p>
  </div>
  <div class="video">
    <img src="img/performances/pony.jpg" alt="Capture d'écran de la performance sur Pony" class="image">
    <p>Pony, soirée Bingo Drag à La Belle Électrique, Grenoble, 2019</p>
  </div>
  <div class="video">
    <img src="img/performances/macho-man.jpg" alt="Capture d'écran de la performance sur Macho Man" class="image">
    <p>Macho Man, soirée Bingo Drag à La Belle Électrique, Grenoble, 2019</p>
  </div>
  <div class="video">
    <img src="img/performances/princes-universe.jpg" alt="Capture d'écran de la performance sur Princes of the Universe" class="image">
    <p>Princes of the Universe, soirée Badasstéroïdes, Grenoble, 2019</p>
  </div>
  <div class="video horizontal">
    <img src="img/performances/vous-les-femmes-vincent-suel.jpg" alt="Capture d'écran de la performance sur Vous Les Femmes à la Belle Électrique" class="image" id="lateral-gauche">
    <p>Vous Les Femmes, soirée Kings and Queens à La Belle Électrique, Grenoble, 2019</p>
  </div>
  <div class="video horizontal">
    <img src="img/performances/vous-les-femmes-esad.jpg" alt="Capture d'écran de la performance sur Vous Les Femmes à l'ESAD" class="image" id="lateral-gauche">
    <p>Vous Les Femmes, atelier à l'ESAD, Grenoble, 2019</p>
  </div>
  <div class="video horizontal">
    <img src="img/performances/savoyarde.jpg" alt="Capture d'écran de la performance première drag queen savoyarde" class="image" id="lateral-gauche">
    <p>Première Drag-Queen Savoyarde au monde, finissage d'expo en partenariat avec Vues d'en Face, Grenoble, 2018</p>
  </div>
  <div class="video">
    <img src="img/videos/taren-t-aise.jpg" alt="Capture d'écran de la vidéo Taren-T-aise" class="image">
    <p>Taren-T-aise, 2018</p>
  </div>
  <div class="video">
    <img src="img/videos/businessman.jpg" alt="Capture d'écran de la vidéo Businessman" class="image">
    <p>J'aurais voulu être un businessman, 2018</p>
  </div>
  <div class="video">
    <img src="img/videos/quotidien.jpg" alt="Capture d'écran de la vidéo Effeuiller le Quotidien" class="image">
    <p>Effeuiller le quotidien, série de 9 vidéos, 2018</p>
  </div>
  <div class="video">
    <img src="img/videos/mama-manifesto.jpg" alt="Capture d'écran de la vidéo M.A.M.A Manifesto" class="image">
    <p>M.A.M.A. Manifesto, avec Irina Angeleri et Maria Norte Fonseca, 2018</p>
  </div>
  <div class="video">
    <img src="img/videos/titties-bounce-gender-slices.jpg" alt="Capture d'écran de la vidéo Titties Bounce / Gender Slices" class="image">
    <p>Titties bounce/Gender Slices, 2018</p>
  </div>
  <div class="video">
    <img src="img/videos/homework.jpg" alt="Capture d'écran de la vidéo Homework" class="image">
    <p>Homework, 2018</p>
  </div>
  <div class="video">
    <img src="img/videos/vous-les-femmes.jpg" alt="Capture d'écran de la vidéo Vous les Femmes" class="image">
    <p>Vous les femmes, 2018</p>
  </div>
</BaseLayout>


<style>
  .video{
    margin-bottom: 2em;
  }

  .image{
    width: 100%;
    margin-bottom: 0.5em;
  }

  #lateral-gauche{
    width: 30%;
  }

  .horizontal{
    display: flex;
    align-items: center;
    gap: 2em;
  }
</style>
