
<header>
  <div id="titre">
    <img class="titre-site" src="../src/img/titre-site.jpg">
    <div class="undertitle">
      <h2>artiste factotum
      <span class="yellow">[du latin fac totum : qui fait tout]</span></h2>
    </div>
  </div>
  <div id="chat">
    <img src="../src/img/miaou.jpg" alt="chat bicolore">
  </div>
</header>


<style>
  header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }

  header h1{
  font-family: 'Rubik Mono One';
  width: 100%;
  font-size: 2.5rem;
  padding-left: 0.2rem;
  }
  header h2{
    font-family: 'Nadira';
    width: 150%;
    font-size: 2.5rem;
    padding-left: 1rem;
  }

  .undertitle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .yellow{
  display: none;
  margin-left: 10px;
  }
  .undertitle:hover .yellow{
  display: inline-block;
  color: rgba(255, 232, 0, 1)
  }
  .titre-site{
    width: 80%;
  }
</style>
