<nav>
  <div class="lien-nav">
    <a href="/editions">Éditions</a>
    <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
  </div>
  <div class="lien-nav">
    <a href="/videos">Vidéos</a>
    <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
  </div>
  <div class="lien-nav">
    <a href="/ateliers">Ateliers</a>
    <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
  </div>
  <div class="lien-nav">
    <a href="/graphisme">Graphisme</a>
    <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
  </div>
    <div class="lien-nav">
      <a href="/recherches">Recherche</a>
      <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
    </div>
      <div class="lien-nav">
        <a href="/enseignement">Enseignement</a>
        <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
      </div>
      <div class="lien-nav">
        <a href="/experiences">Expériences</a>
        <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
      </div>
      <div class="lien-nav">
        <a href="/info/info">À Propos</a>
        <img src="img/texture-nav.jpg" alt="grillages trame" class="trame"/>
      </div>
      <div class="contact">
        <div id="sociaux">
          <a href="https://www.instagram.com/divinefoucault/"><img src="img/instalogo.jpg" alt="instagram" class="logo-reseau"></a>
          <a href="https://www.facebook.com/alix.cerezal.7/"><img src="img/fblogo.jpg" alt="facebook" class="logo-reseau"></a>
          <a href="https://fr.linkedin.com/in/alix-cerezal-orellana-863393245"><img src="img/linklogo.jpg" alt="linkedin" class="logo-reseau"></a>
          <a href="mailto:x.cerezalorellana@gmail.com"><img src="img/maillogo.jpg" alt="mail" class="logo-reseau"></a>
        </div>
          <div class="mentions-legales">
            <p id="highlight">Mentions Légales</p>
            <div class="contributrices">
              <p class="noms">Web design par Alix Cerezal Orellana</p>
              <p class="noms"><a href="https://github.com/Zelie-C">Développement par Zélie Chemin</a></p>
            </div>
          </div>
      </div>
</nav>


<style>
  nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lien-nav a {
    font-family: 'Rubik Mono One';
    font-size: 1.5em;
    display: flex;
    padding-left: 0.5em;
    align-items: center;
    z-index: 1;
  }

  .trame{
    width: auto;
  }

  .lien-nav{
    display: grid;
  }

  .lien-nav>*{
    grid-area: 1/1/-1/-1;
  }

  .lien-nav:hover{
    background-color: rgba(255, 232, 0, 1);
  }

  .lien-nav:active{
    background-color: rgba(255, 232, 0, 1);
  }

  .contact{
  display: flex;
  flex-direction: column;
  gap: 1em;
  }

  #sociaux{
  display: flex;
  justify-content: space-between;
  }

  .logo-reseau{
  height: 30px;
  }

  .mentions-legales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .contributrices{
    display: none;
  }

  .mentions-legales:hover #highlight{
    color: rgba(255, 232, 0, 1);
  }
  .mentions-legales:hover .contributrices{
    display: block;
  }

  #highlight{
    font-family: "Rubik Mono One";
  }

  .noms{
    text-align: center;
    display: ;
  }
</style>
