---
import '../styles/global.css';
import Header from "../components/Header.astro";
const pageTitle = "Accueil"
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <div class="container">
      <Header />
        <div class="contenu">
          <slot />
        </div>
    </div>
	</body>
</html>

<style>
    .container{
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 1fr 1fr;
  grid-template-areas:
  "header header header header"
  "contenu contenu contenu contenu"
  "contenu contenu contenu contenu"
  "contenu contenu contenu contenu"
  ;
}
</style>
